
# Don't commit the dot dirs or files
.idea
.gradle
.project
.settings
.gradletasknamecache
.vagrant/

# Ignore build outputs
build/
target/

# Ignore Gradle GUI config
gradle-app.setting

# Make sure to include Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
